@import "../../../variables";

.PrevButton {
    all: unset;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

.ArrowIcon {
    width: 2rem;
    height: 2rem;
    fill: $color-gray-dark;
}

.PrevButton:disabled .ArrowIcon {
    fill: rgba($color-gray-dark, 0.4);
}