@import "../../variables";

.Cart {
    max-width: 140rem;
    margin: 15rem auto 0 auto ;
    height: calc(100vh - 15rem); // may remove

    &__Heading {
        text-transform: uppercase;
        font-size: $default-header-font-size;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__Content {
        p {
            font-size: $default-font-size;
            text-align: center;
        }        
    }
}