@import "../../../../variables";

.Slide {
    display: inline-block;
    // width: 100%;
    height: 100%;
    position: relative;
    flex: 1 0 auto;
}

.SlideContent {
    position: absolute;
    max-width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $default-font-size;
    text-align: center;

    @media only screen and (max-width: $bp-small) {
        top: 40%;
    }

    header {
        font-size: 3rem;
        font-weight: 700;
        color: $color-white;

        @media only screen and (max-width: $bp-xsmall) {
            font-size: 2rem;
        }
    }

    p {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 600;
        color: $color-white;

        @media only screen and (max-width: $bp-small) {
            margin-top: 2rem;
        }

        @media only screen and (max-width: $bp-xsmall) {
            font-size: $default-font-size;
        }
    }
}

.SlideCta {
    margin-top: 2rem;
}

.SlideButton {
    &,
    &:link,
    &:visited {
        display: inline-block;
        padding: 1rem 2rem;
        text-decoration: none;
        background-color: $color-complement;
        color: $color-complement-dark-3;
        font-weight: 600;
    }

    &:not(:last-child) {
        margin-right: 1rem;
    }
}
