@import "../../../../variables";

.FilterContent__Wrapper {
    overflow: hidden;
    display: flex; // Fix for margin overflowing
}

.FilterContent {
    flex: 1 0 auto;
    display: block;
    transform-origin: top;
    height: 0;
    // transform: scaleY(0);
    transition: all 0.2s ease-out;
}

.FilterContent__Open {
    height: 15rem;
    // transform: scaleY(1);
}

.Slider__Wrapper {
    width: 90%; 
    margin: 0 auto;

    @media only screen and (max-width: $bp-large) {
        width: 80%;
    }
}