@import "../../variables";

.BigMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background-image: linear-gradient(to bottom, $color-tertiary 0%, $color-tertiary 7%, $color-tertiary-dark-2 100%);
    z-index: 1000;
    transition: all 0.4s ease-out;
    overflow: hidden;
}

.BigMenuOpen {
    height: 100vh;
}

.LinkList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;

    li {
        font-size: 5rem;
        transition: all 0.2s ease-out;

        &:hover {
            transform: translateX(2rem);
        }
    }
}