@import "../../variables";

.AboutUs {
    max-width: 140rem;
    margin: 15rem auto 0 auto ;
    min-height: calc(100vh - 15rem); // may remove

    @media only screen and (max-width: $bp-small) {
        margin: 1rem auto 1rem auto ;
        min-height: calc(100vh - 10rem); // may remove
    }

    &__Heading {
        text-align: center;

        h2 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }
}

.AboutUsContent__Image {
    
    img {
        display: block;
        margin: 0 auto;
        max-width: 60%;

        @media only screen and (max-width: $bp-small) {
            max-width: 90%;
        }
    }
}

.AboutUsContent__Text {
    padding: 1rem;
    font-size: $default-font-size;
    margin-top: 4rem;

    p {
        @media only screen and (max-width: $bp-small) {
            padding: 1rem;
        }
    }
    
}