.ProductContainer {
    max-width: 140rem;
    margin: 15rem auto 0 auto ;
    height: calc(100vh - 15rem); // may remove

    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 30% 67%;
    grid-gap: 3%;
}

.ProductFilter {

}

.Products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__Pool {

    }

    &__Pagination {
        width: 100%;
    }
}