@import "../../../../variables";

.ContactElement {

    min-width: 25rem;
    margin: 0 auto;
    display: flex;
    color: $color-gray-dark;

    &__Icon {
        height: 4.5rem;
        width: 4.5rem;
        fill: $color-gray-dark;
        margin-right: 2rem;
    }

    &__Text {
        font-size: $default-font-size;

        h2 {
            font-size: 2rem;
        }
    }
}