@import "../../../variables";

.CheckoutForm {
    padding-top: 2rem;
    padding-right: 4%;;

    &__Section {

        h2 {
            font-size: $default-header-font-size;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        &__Row {
            display: flex;
            justify-content: space-between;

            & > div {
                width: 48%;
            }
        }
    }
}