@import "../../../../../variables";

.User {
    &:not(:last-child) {
        margin-bottom: 0.7rem;
    }

    width: 100%;
    font-size: $default-font-size;
    background-color: $color-gray-dark;
    padding: 0.5rem;
    color: $color-white;
    display: inline-block;
    cursor: pointer;
}

.FocusedUser {
    background-color: $color-complement;
}