@import "../../../variables";

.CheckoutCart {
    padding: 2rem 0 0 4%;

    &__Link {
        margin-top: 3rem;
        text-align: center;

        a:link,
        a:visited {
            font-size: $default-font-size;
            color: $color-complement-dark-2;
            text-decoration: none;
        }

    }
}