@import "../../variables";

.ProductMini {
    flex: 0;
    width: 25rem;
    position: relative;

    &__Wrapper {
        width: 100%;
        display: flex;
        cursor: pointer;
    }

    &__MoreInfo {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        background-color: rgba($color-black, 0.5);
        width: 3rem;
        height: 3rem;
        border-radius: 3px;
        padding: 3px;
        opacity: 0;
        transition: all 0.2s ease-out;
        cursor: pointer;
    }

    &__Icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: $color-white;
    }

    &:hover &__MoreInfo {
        opacity: 1;
    }
}

.Image {
    height: 8rem;
    width: 8rem;
    margin-right: 1rem;
}


.Info {
    width: calc(25rem - 9rem);
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;

    &__header {
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0.5rem;
        font-size: 1.6rem;
    }

    &__description {
        width: 16rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price {
        margin-top: auto;
    }
}