@import "../../../../variables";

.RightArrow {
    position: absolute;
    top: 50%;
    right: 2.5rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-small) {
        top: 40%;
        right: 1rem;
    }
}

.ArrowIcon {
    width: 3.5rem;
    height: 3.5rem;
    fill: $color-white;
}