@import "../../../variables";

.Order {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem rgba($color-black, 0.3);
    border-radius: 3px;
    
    @media only screen and (max-width: $bp-small) {
        width: 90%;
    }

    &__Content {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        height: 0rem;
        overflow: hidden;
        transition: all 0.2s ease-out;
    }

    &__ContentOpen {
        height: 36rem;
        margin-top: 1rem;
        overflow-y: scroll;
    }

    &__Title {
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;

        input {
            display: none;
        }

        label {
            margin-left: auto;
            position: relative;
            width: 2rem;
            height: 2rem;
            cursor: inherit;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotateZ(-90deg);
                width: 1.5rem;
                height: 1.5rem;
                background: $color-black;
                clip-path: polygon(50% 100%, 0 30%, 100% 30%);
                transition: all 0.2s ease-out;
            }
        }

        input:checked ~ label::before {
            transform: translate(-50%, -50%) rotateZ(0);
        }
    }

    &__Details {
        border-top: 1px solid rgba($color-black, 0.15);
        padding: 1rem 0;
        font-size: 1.3rem;

        h2 {
            text-align: center;
            margin: 1rem 0;
            font-size: $default-font-size;

            span {
                text-decoration: underline;
                color: $color-tertiary-dark-1;
                cursor: pointer;
                transition: color 0.2s ease-out;

                &:hover {
                    color: $color-tertiary;
                }
            }
        }
    }

    &__Table {
        font-family: inherit;
        border-collapse: collapse;
        width: 70%;
        margin: 0 auto;

        &:last-child {
            margin-top: 1.5rem;
        }

        thead {
            background-color: rgba($color-gray-dark, 0.2);
        }

        td, th {
            border: 1px solid rgba($color-gray-dark, 0.2);
            text-align: left;
            padding: 8px;
        }
    
    }
}