@import "../../../variables";

.LoginWrapper {
    margin: 15rem 0 0 0;
    width: 100vw; // may remove
    height: calc(100vh - 15rem); // may remove
}

.LoginCard {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    background-image: linear-gradient(105deg, 
        rgba($color-tertiary-dark-2, 0.75) 0%, 
        rgba($color-tertiary-dark-2, 0.75) 50%, 
        rgba($color-complement-dark-3, 0.75) 50%,
        rgba($color-complement-dark-3, 0.75) 100%), url(../../../assets/images/login_picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.SignupRoute {
    position: relative;

    &__Content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        color: $color-white;

        a {
            display: inline-block;
            text-decoration: none;
            color: $color-complement;
            font-weight: 700;
            transition: all 0.2s ease-out;

            &:hover {
                color: $color-complement-light-2;
            }
        }
    }
}

.LoginHeader {
    color: $color-white;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 3rem;
}

.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__Form {
        width: 80%;
    }
}

.LoginLink {
    margin-top: 2rem;
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        font-size: $default-font-size;
        color: $color-white;
    }
}